body {
    font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

    background-color: "#061E44";
    color: #7a4eb5;
}

.app__header__title {
    letter-spacing: .25rem;
    font-family:Cambria,
    
}

.app__header__title--grey {
    color: #C4CDD5;
}